
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
}

body {
    overflow-x: hidden; 
    padding-bottom: 100px;
}

header, footer {
    background-color: #4CAF50;
    color: black;
    text-align: center;
    padding: 15px 0;
    z-index: 1;
}

footer {
    font-size: 0.8em;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
}


#survey {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 0;
}

#survey h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: inline-block;
}

select, input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    font-size: 1em;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#recipeResults {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    padding-bottom: 100px; 
    flex-grow: 1; 
    overflow-y: auto;  
}

}

#recipeResults h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

#recipeList {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.recipe:last-child {
    border-bottom: none;
}

.recipe h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.recipe img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.recipe p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.recipe a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.recipe a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1em;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    #survey, #recipeResults, #help {
        padding: 15px;
        margin: 10px;
    }

    .recipe img {
        max-width: 100%;
    }
}
